GLFW_ICON ICON "proyectoc.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Grupo_Tema4"
      VALUE "FileDescription", "Survival | VideoJuego para el cierre del laboratorio"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "proyectoc"
      VALUE "LegalCopyright", "(c) 2024 Grupo_Tema4"
      //VALUE "OriginalFilename", "proyectoc.exe"
      VALUE "Survival", "Survival"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
